nav{
    height: 50px;
    border: 1px solid;
}

.header {
    padding: 10px 10px;
    background: #222;
    align-items: center;
    display: flex;
}

.header img {
    display: inline;
    height: 50px;
}

.navLink{
    color: #ffffff;
    text-decoration: none;
}

.header div{
    display: inline;
    color: white;
    padding: 0 20px
}

