.login-body{
    overflow-y: scroll;
    height: 100%;
    margin: 0% auto;
    background-color: blanchedalmond;
}

.login-div{
   width: 300px;
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin: 0 auto;
   border: 1px solid #dbdbdb;
   border-radius: 5px;
   padding: 10px;
   margin-top: 10vh;
   background-color:dodgerblue;
}

input{
    width: 95%;
    border: 1px solid #dbdbdb;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
}