.profile-body{
  width: 60px;
  height: 100px;
  background-color:blanchedalmond;
}
.background {
  text-align: center;
  background-image: url("../../Assets/background.jpg");
}

.profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: blanchedalmond;
}